

body{
    background: url(image/wallpaper.jpg) no-repeat center center fixed;
    background-size: cover}

h1{font-size: 3rem;
color: #8f3838;
text-transform: uppercase;}

hr{
    border-color: #f05f44;
    border-width: 3rem;
max-width: 65px;}
.btn{ font-weight: 700;
border-radius: 300px;
text-transform: uppercase;}
.btn-xl{
    padding: 1rem 2rem;
}
.btn-primary{background-color: #f05f44;
border-color: #f05f44;}
.btn-primary:hover{background-color: #ee4b08;
border-width: 4px;}
